
####################### GTX reference clock constraints #######################
#NET AD9515_REFCLK0P   LOC=T6;//divider,signal source
#NET AD9515_REFCLK0N   LOC=T5;
#NET si544_REFCLK1P    LOC=P6;//crystal oscillator
#NET si544_REFCLK1N    LOC=P5;
NET ADN2812_REFCLK2P  LOC=AA4;//ADN2812,CDR
NET ADN2812_REFCLK2N  LOC=AA3;
#NET  TXN_OUT                     LOC=V2;
#NET  TXP_OUT                     LOC=V1;
NET  RXN_IN                      LOC=U4;
NET  RXP_IN                      LOC=U3;

#NET  reGTX_RXN_IN                LOC=R4;
#NET  reGTX_RXP_IN                LOC=R3;
#NET  reGTX_TXN_OUT               LOC=T2;
#NET  reGTX_TXP_OUT               LOC=T1;


# VME signals
NET ADDR<1>   LOC = C15;
NET ADDR<2>   LOC = C13;
NET ADDR<3>   LOC = C14;
NET ADDR<4>   LOC = D13;
NET ADDR<5>   LOC = D12;
NET ADDR<6>   LOC = C11;
NET ADDR<7>   LOC = D11;
NET ADDR<8>   LOC = E14;
NET ADDR<9>   LOC = D10;
NET ADDR<10>  LOC = E10;
NET ADDR<11>  LOC = C9;
NET ADDR<12>  LOC = D8;
NET ADDR<13>  LOC = C8;
NET ADDR<14>  LOC = D7;
NET ADDR<15>  LOC = N24;
NET ADDR<16>  LOC = L25;
NET ADDR<17>  LOC = K25;
NET ADDR<18>  LOC = J26;
NET ADDR<19>  LOC = H25;
NET ADDR<20>  LOC = G24;
NET ADDR<21>  LOC = F25;
NET ADDR<22>  LOC = F24;
NET ADDR<23>  LOC = E25;
NET LWORD_BAR  LOC =E24;

NET DATA<0>   LOC = F7;
NET DATA<1>   LOC = G8;
NET DATA<2>   LOC = G9;
NET DATA<3>   LOC = H10;
NET DATA<4>   LOC = G12;
NET DATA<5>   LOC = G13;
NET DATA<6>   LOC = H14;
NET DATA<7>   LOC = H15;
NET DATA<8>   LOC = E8;
NET DATA<9>   LOC = F9;
NET DATA<10>  LOC = H9;
NET DATA<11>  LOC = H11;
NET DATA<12>  LOC = F12;
NET DATA<13>  LOC = H13;
NET DATA<14>  LOC = G14;
NET DATA<15>  LOC = F15;
NET DATA<16>  LOC = B21;
NET DATA<17>  LOC = A22;
NET DATA<18>  LOC = B22;
NET DATA<19>  LOC = B23;
NET DATA<20>  LOC = A24;
NET DATA<21>  LOC = B24;
NET DATA<22>  LOC = A25;
NET DATA<23>  LOC = C25;
NET DATA<24>  LOC = A26;
NET DATA<25>  LOC = B26;
NET DATA<26>  LOC = A27;
NET DATA<27>  LOC = B27;
NET DATA<28>  LOC = B28;
NET DATA<29>  LOC = C28;
NET DATA<30>  LOC = D27;
NET DATA<31>  LOC = D28;

 
NET AM_LV<0>  LOC = E17;
NET AM_LV<1>  LOC = E18;
NET AM_LV<2>  LOC = E19;
NET AM_LV<3>  LOC = E20;
NET AM_LV<4>  LOC = E23;
NET AM_LV<5>  LOC = E15;

NET GA_LV<0>  LOC = B17;
NET GA_LV<1>  LOC = B18;
NET GA_LV<2>  LOC = A19;
NET GA_LV<3>  LOC = A20;
NET GA_LV<4>  LOC = C21;

#NET "Borad_SW<0>"  LOC = p86 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;
#NET "Borad_SW<1>"  LOC = p87 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;
#NET "Borad_SW<2>"  LOC = p58 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;

NET DS0_BAR     LOC = G11;
NET DS1_BAR     LOC = F10;
NET WRITE2_BAR  LOC = F11;
NET AS_BAR      LOC = E12;
NET IACK_BAR    LOC = E13;
NET IACKIN_BAR  LOC = F14;

#NET "BS_BAR"   LOC =     | IOSTANDARD = LVTTL | DRIVE = 24  | SLEW = FAST  | SUSPEND = 3STATE_PULLUP ;
NET IACKOUT_BAR LOC = N25;
NET BERR        LOC = C10;
#NET "berr_in_bar" LOC =  | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;
NET DTACK       LOC = B11;
#NET "IRQ_Board"  LOC =  | IOSTANDARD = LVTTL | SLEW = FAST  | SUSPEND = 3STATE_PULLDOWN ;

# VME bus reset, reset from VME bus
NET SYSRESET_BAR LOC = E9;


NET    VME_DTACK_OE_o  LOC = A11;
NET    VME_DATA_DIR_o  LOC = E7;
NET    VME_DATA_OE_N_o LOC = A21;
NET    VME_ADDR_DIR_o  LOC = A10;
NET    VME_ADDR_OE_N_o LOC = B9;


NET    VME_IRQ<1> LOC = B16;
NET    VME_IRQ<2> LOC = A15;
NET    VME_IRQ<3> LOC = B14;
NET    VME_IRQ<4> LOC = A14;
NET    VME_IRQ<5> LOC = B13;
NET    VME_IRQ<6> LOC = B12;
NET    VME_IRQ<7> LOC = A12;
# VME signals end here




NET s20 LOC=AG14;
NET s21 LOC=AF14;
NET s30 LOC=AF16;
NET s31 LOC=AH16;
NET s40 LOC=AG16;
NET s41 LOC=AH13;


#NET "Borad_SW<0>"  LOC = p86 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;
#NET "Borad_SW<1>"  LOC = p87 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;
#NET "Borad_SW<2>"  LOC = p58 | IOSTANDARD = LVTTL  | IOBDELAY = NONE  | IN_TERM = NONE ;






NET  CLK0OUT  LOC = AH9;  #LEMO J2 bottom
NET  CLK1OUT  LOC = AH10; #LEMO J2 top

NET  CLK3OUT_n  LOC = AG12; #FPGA_pulse_out4 LEMO J7 top
NET  CLK3OUT_p  LOC = AH11; 
NET  CLK2OUT_n  LOC = AH24;  #FPGA_pulse_out5 LEMO J7 bottom
NET  CLK2OUT_p  LOC = AG24;

NET  CLK5OUT_n  LOC = AH25; #FPGA_pulse_out2 LEMO J6 top fangxiang?
NET  CLK5OUT_p  LOC = AH26; 
NET  CLK4OUT_n  LOC = AH28; #FPGA_pulse_out3 LEMO J6 bottom
NET  CLK4OUT_p  LOC = AG27; 


NET  ctrl_sig LOC=AF25;//J8 top AF25;bot AF24

